automium==0.2.6
automium-web==0.1.1
Click==7.0
Django==2.1.5
django-crispy-forms==1.7.2
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
legacy==0.1.6
MarkupSafe==1.1.0
Pillow==5.4.1
pytz==2018.9
users==1.0.dev0
views==0.3
Werkzeug==0.14.1
